/* 공통 스타일 */
body, h1, h3, p, span, div {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.main-container {
    width: 100%;
}

.header-background {
    /* 배경 이미지 설정 */
    background-image: 
        linear-gradient(
            to bottom, 
            rgba(255, 255, 255, 0) 10%, 
            rgba(255, 255, 255, 0) 25%, 
            rgba(255, 255, 255, 0.3) 40%, 
            rgba(255, 255, 255, 0.5) 60%, 
            rgba(255, 255, 255, 0.8) 100%),
        url("/resources/images/home/bg.395a50d7.png");       
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;

    /* 내용 가운데 정렬 */
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.content-section {
    text-align: center;
    width: 866px;
}

.subtext {
    font-size: 16px;
    color: #aaa;
}

.main-title {
    font-size: 55px;
    font-weight: 500;
    margin: 24px 0 48px;
    line-height: 56px;
    letter-spacing: -4px;
}

.register-button {
    width: 173px;
    height: 52px;
    border-radius: 9999px;
    background-color: #3395E5;
    color: white;
    border: none;
    cursor: pointer;
    letter-spacing: -.3px;
    font-size: 15px;
}

.stats-container {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.stat-box {
    width: 423px;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 20px;
    padding: 50px 72px;
}

.stat-value {
    font-size: 28px;
    font-weight: bold;
}

.counting {
    font-size: 80px;
    font-weight: bold;
}

.unit {
    font-size: 28px;
    font-weight: bold;
}

.stat-subtext {
    font-size: 16px;
    color: #aaa;
}

.guide-section {
    text-align: center;
    padding: 60px;
    display: flex;
    justify-content: center;
    letter-spacing: -.5px;
    gap: 40px;
}

.guide-title h1 {
    font-size: 48px;
    font-weight: bold;
}

.guide-title span {
    display: block;
    font-size: 20px;
    color: #aaa;
    margin-top: 6px;
}

.guide-steps hr {
    background:rgb(231 234 238);
    height:1px;
    border:0;
}

.step-box {
    margin: 80px 0;
    text-align: left;
    display: flex;
    flex-direction: column;
}

.step-box img {
    max-width: 64px;
    height: auto;
}

.step-box span {
    font-size: 18px;
    margin: 12px 0;
}

.step-box h3 {
    font-size: 32px;
    line-height: 42px;
    margin-top: 12px;
}

.app-section {
    text-align: center;
    margin-top: 140px;
}

.app-text {
    font-size: 14px;
    color: #aaa;
    margin-bottom: 30px;
}

.app-links {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.app-store {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 230px;
    height: 52px;
    border: 1px solid #ddd;
    border-radius: 8px;
    cursor: pointer;
}

.app-store img {
    margin-right: 6px;
}

.app-store div {
    font-size: 16px;
    color: #555;
}
